.details-panel {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fff;
  z-index: 5;
  transition: right 0.3s ease-in-out;
}

.details-panel__content form {
  padding: 15px;
}

.details-panel__content form button {
  margin-top: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group + .input-group {
  margin-top: 10px;
}

.details-panel__content input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

.details-panel__close-btn {
  background-color: #fff;
  padding: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: rotate(-90deg) translate(0, -210%);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 1px solid gray;
}

.details-panel.collapse {
  right: -300px;
}

.details-panel__content {
  overflow-y: auto;
  height: 90%;
}
