.floatingedges {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.floatingedges .react-flow__handle {
  opacity: 0;
}

.edge-btn {
  position: absolute;
  pointer-events: all;
  cursor: pointer;
  font-size: 11px;
  border-radius: 50%;
  border: none;
  width: 20px;
  height: 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.edge-btn.active {
  visibility: visible;
  opacity: 1;
}

.edge-label {
  color: #000;
  font-size: 11px;
  position: absolute;
  text-align: center;
}
