.floatingedges {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.floatingedges .react-flow__handle {
  opacity: 0;
}

.edge-btn {
  position: absolute;
  pointer-events: all;
  cursor: pointer;
  font-size: 11px;
  border-radius: 50%;
  border: none;
  width: 20px;
  height: 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in;
  z-index: 1002;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.edge-btn.active {
  visibility: visible;
  opacity: 1;
}

.edge-label {
  color: #000;
  font-size: 11px;
  position: absolute;
  top: 0;
  text-align: center;
  z-index: 1001;
}

.edge-label:focus {
  outline: 1px solid gray;
}

/* when inside a group z-index of an edge must be higher than group node so it can be clickable */
.react-flow__edges {
  z-index: 1001 !important;
}
